/*body {
}
h1{
    text-align:center;
}
#Beach2:hover {
    background-color: #000000;
    display: block;
    width: 300px;
    height: 300px;
}
#SidoInfo{
    float:left;
}

#moving {
    background-color: rgba(150,150,150,.8);
    border-radius: 30%/20%;
    position: fixed;
    bottom: 100px;
    left: 1500px;
}

    #moving ul {
        list-style-type: none;
    }

    #moving li {
        border: 2px solid rgba(80,85,180,0.9);
        width: 70%;
        margin: 5px;
        padding: 7px;
        font-size: 1.4em;
    }

        #moving li a {
            text-decoration: none;
            text-transform: uppercase;
            color: black;
            font-weight: 800;
        }
        .container{
            margin-top:10px;
            border:2px solid black;
            float:right;
        }
        .container-fluid{
            border:2px solid black;
            width:100px;
        }
        #Beach4{
        }*/
body {
    width: 100%;
    background-color: chartreuse;
    text-align: center;
}

.container {
        width: 630px;
    /*background-color: lightblue;*/
}

.flex-container {
    /*background-color: lightblue;*/
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

.header,
.footer {
    flex: 1 100%;
}

.sidebar {
    flex: 3;
}

.main {
    flex: 2;
}

.flex-item {
    background: lightblue;
    padding: 10px;
    width: 100%;
    color: black;
    font-size: 1em;
}

#beach1 {
    width: 100%;
    height: 300px;
    float: left;
}

    /*#beach2 {
    width: 100%;
    height: 100%;
}*/

    #beach1:hover {
        /*FIXXXXXXXXXXXXXXXXXXXXXXAAAAAAAAAAAAAAAAAAAAAAAAAAAA till alla bilder!!*/
    }

#beach2:hover {
    /*FIXXXXXXXXXXXXXXXXXXXXXXAAAAAAAAAAAAAAAAAAAAAAAAAAAA till alla bilder!!*/
}

#sök {
    float: right;
    /*margin-right: 980px;*/
}

#sök1 {
    float:right;
    /*margin-left: 150px;
    margin-top: -1px;*/
}

#SidoInfo {
    float: right;
}

#Fieldaside:hover {
    overflow: visible;
    font-family: 'Book Antiqua';
    width: 100%;
    background-color: green;
    color: black;
}

#H1 {
    text-align: center;
}

#H2 {
    font-family: 'Colonna MT';
    font-size: large;
}

.flex-item main {
}

#Minst {
    border:2px dotted hotpink;
    background-color: lightblue;
    color: black;
    font-size: 20px;
}

#utkant {
    border-radius: 50%;
}

#Email {
    margin-left: 25px;
}

#Submit {
    margin-right: 100px;
}

/*#Paragraf1 {
    background-color: lightblue;
}

#pure1 {
    background-color: lightblue;
}*/

#Loga {
    width: 200px;
}

#textarea {
    margin-left: 30px;
}

@media only screen and (max-width: 480px) {
    #mobile {
        text-align: center;
        font-family: Algerian;
    }

    #screen {
        display: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #tablet {
        display: none;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    #printscreen {
        display: none;
        font-family: 'Agency FB';
    }
}

@media (min-width: 480px) and (max-width: 768px) {

    body {
        background-color: chartreuse;
    }

    #screen {
        display: none;
    }

    #mobile {
        display: none;
    }

    #tablet {
        text-align: center;
    }

    #printscreen {
        display: none;
    }

    #picture {
        position: relative;
        width: 100%;
        height: 100%;
    }

    @media screen and (min-width:769px) and (max-width: 1024px) {

        body {
            background-color: steelblue;
        }

        #screen {
            text-align: center;
            display: inherit;
        }

        #mobile {
            display: none;
        }

        #tablet {
            display: none;
        }

        #printscreen {
            display: none;
        }
    }
}
