body {
    background-color:red;
}

#moving
{
    background-color:rgba(150,150,150,.8);
    border-radius:30%/20%;
    position:fixed;
    bottom:100px;
    left:1500px;
    
}
#moving ul
{
    list-style-type:none;

}
#moving li{
    border:5px solid rgba(75,83,170,0.87);
    width:70%;
    margin:5px;
    padding:7px;
    font-size:1.4em;
    

}
#moving li a{
    text-decoration:none;
    text-transform:uppercase;
    color:rgb(255, 0, 110);
    font-weight:900;
}


