body {
    background-color: lightblue;
}

@media only screen and (max-width: 480px) {
    #mobile {
        text-align: center;
        font-family: Algerian;
    }

    #screen {
        display: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #tablet {
        display: none;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    #printscreen {
        display: none;
        font-family:'Agency FB';
    }
}


@media (min-width: 480px) and (max-width: 768px) {

    body {
        background-color: chartreuse;
    }

    #screen {
        display: none;
    }

    #mobile {
        display: none;
    }

    #tablet {
        text-align: center;
    }

    #printscreen {
        display: none;
    }
}

@media screen and (min-width:769px) and (max-width: 1023px) {

    body {
        background-color: steelblue;
    }

    #screen {
        text-align: center;
        display: inherit;
    }

    #mobile {
        display: none;
    }

    #tablet {
        display: none;
    }

    #printscreen {
        display: none;
    }
}

@media (min-width: 1024px) {

    body {
        background-color: white;
      
    }
     #screen {
      display: none;
    }

    #mobile {
        display: none;
    }

    #tablet {
        display: none;
    }

    #printscreen {
        display: inherit;
        text-align: center;

    }
}
#Meny{
    width:60%;
}
#wrapper{

}
#moving {
    background-color: rgba(150,150,150,.8);
    border-radius: 30%/20%;
    position: fixed;
    bottom: 100px;
    left: 1500px;
}

    #moving ul {
        list-style-type: none;
    }

    #moving li {
        border: 5px solid rgba(80,85,180,0.9);
        width: 70%;
        margin: 5px;
        padding: 7px;
        font-size: 1.4em;
    }

        #moving li a {
            text-decoration: none;
            text-transform: uppercase;
            color: black;
            font-weight: 800;
        }