body {
    background-color:saddlebrown;
}
#LenovoB50
{
    border: 5px solid black;
    width: 542px;
    height:400px;
}
#Transformers{
        border: 5px solid black;
        width: 542px;
        height:400px;
}
#HP250{
     border: 5px solid black;
        width: 542px;
        height:400px;
}
#LenovoB51{
      border: 5px solid black;
    width: 542px;
    height:400px;
}
#HPG3{
      border: 5px solid black;
    width: 542px;
    height:400px;
}
#Toshibaz30{
     border: 5px solid black;
    width: 542px;
    height:400px;
}
#Sektion1{
            border: 5px solid black;
}
#Sektion2{
                border: 5px solid black;
}
