body {
    background-color: white;
}

#wrapper {
    width: 500px;
    height: 500px;
}

#iphone {
    background-color:lightgray;
    width: 300px;
    height: 700px;
    border-radius: 10%;
    border-width:10px;
    
}

#bild {
    background-color:black;
    border-radius: 100%;
    width: 1px;
    height: 1px;
    border-width: 10px;
    padding: 1px;
    border-color: black;
    margin-left:200px;
    
}
/*
#BildInbild{
    background-color:black;
    border-radius: 100%;
    width: 1px;
    height: 1px;
    border-width: 10px;
    padding:1px;
    border-color: black;
    margin-left:100px;
    margin-top:50px;
}
    */
#AvlongBild{
    background-color:black;
     border-radius: 30px;
     width:100px;
     height:1px;
    border-width: thin;
    padding:10px;
    border-color: black;
    margin-left:100px;
    margin-top:25px;
    
}
#Storbild{
    background-color:lightblue;
    width: 280px;
    height: 500px;
    border-radius: 5%;
    border-width:5px;
    border-color:black;
    padding:2px;
    margin-top:10px;
}
#Knapp{
    border-radius:5px;
    width:50px;
    height:20px;
    margin-left:100px;
    margin-top:30px;
}
#abc{
    border-radius:5px;
    width:25px;
    height:25px;
    margin-left:10px;
    margin-top:10px;
    background-color:red;   
}
#abc2{
    border-radius:5px;
    width:25px;
    height:25px;
    margin-left:10px;
    margin-top:30px;
    background-color:#000000;   
}
#abc3{
    border-radius:5px;
    width:25px;
    height:25px;
    margin-left:10px;
    margin-top:30px;
    background-color:hotpink;   
}
#abc4{
    border-radius:5px;
    width:25px;
    height:25px;
    margin-left:10px;
    margin-top:30px;
    background-color:white;   
}
#abc5{
    border-radius:5px;
    width:25px;
    height:25px;
    margin-left:10px;
    margin-top:30px;
    background-color:blue;   
}
#abc6{
    border-radius:5px;
    width:25px;
    height:25px;
    margin-left:10px;
    margin-top:30px;
    background-color:green;   
}

#Skicka{
    width:70px;
    height:30px;
   
}
#input{
    background-color:darkgray;
    width:280px;
    color:white;
    margin-top:-1px;
}